<div id="sidebar">
  <h1 style="font-size: 21px;">Jonny Langefeld</h1>
  <p>Software Engineer</p>
  <p><a href="/about">Who am I?</a></p>
  <p><a href="/assets/about/Resum%C3%A9%20Jonny%20Langefeld.pdf?v=4" target="_blank">Resumé</a></p>
  <img src="/assets/Jonny-Langefeld.jpg" />

  <!-- Social links -->
  <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    <li>
      {% include icon-linkedin.html username=site.linkedin_username %}
    </li>
    <li>
      {% include icon-instagram.html username=site.instagram_username %}
    </li>
  </ul>

  <hr />

  {% include disclaimer.html %}
</div>
